.home {
  &__title {
    color: #fff;
    font-size: 28rem;
    font-weight: 600;
    line-height: 36rem;

    max-width: 195rem;
    margin-bottom: 28rem;
  }

  &__field-search {
    display: block;
    position: relative;
  }

  &__input {
    border-radius: 15rem;
    background: #141921;

    padding: 13rem 10rem 12rem 57rem;

    &::placeholder {
      color: #52555a;
      font-size: 10rem;
      font-weight: 500;
      line-height: 20rem;
    }
  }

  &__input-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18rem;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 19rem;
    margin-top: 28rem;
    margin-bottom: 36rem;
  }

  &__menu-link {
    color: #52555a;
    font-size: 14rem;
    font-weight: 600;
    line-height: 20rem;
  }
}

.coffee {
  color: #fff;
  display: flex;
  gap: 22rem;

  &__card {
    border-radius: 23rem;
    background: linear-gradient(159deg, #252a32 4%, rgba(38, 43, 51, 0) 91.93%);
    padding: 12rem 12rem 22rem 12rem;
  }

  &__card-title {
    font-size: 13rem;
    font-weight: 400;
    line-height: 20rem;
  }

  &__card-description {
    font-size: 9rem;
    font-weight: 400;
    line-height: 20rem;
  }

  &__card-price {
    font-size: 15rem;
    font-weight: 600;
    line-height: 20rem;
  }

  &__card-price-dollar {
    color: #d17842;
  }

  &__card-price-count {
    display: flex;
    gap: 39rem;
    margin-inline: center;
  }
}

.beans-title {
  color: #fff;
  font-size: 16rem;
  font-weight: 500;
  line-height: 20rem;

  margin-top: 23rem;
  margin-bottom: 19rem;
}

.beans {
  color: #fff;
  display: flex;
  gap: 22rem;
  margin-bottom: 30rem;

  &__card {
    border-radius: 23rem;
    background: linear-gradient(159deg, #252a32 4%, rgba(38, 43, 51, 0) 91.93%);
    padding: 12rem 12rem 22rem 12rem;
  }

  &__card-photo {
    border-radius: 16rem;
  }

  &__card-title {
    font-size: 13rem;
    font-weight: 400;
    line-height: 20rem;
  }

  &__card-description {
    font-size: 9rem;
    font-weight: 400;
    line-height: 20rem;
  }

  &__card-price {
    font-size: 15rem;
    font-weight: 600;
    line-height: 20rem;
  }

  &__card-price-dollar {
    color: #d17842;
  }

  &__card-price-count {
    display: flex;
    gap: 39rem;
    margin-inline: center;
  }
}
